@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 1em;
}
  
body::-webkit-scrollbar-track {
    background-color: #2f3e53;
    box-shadow: inset 0 0 6px #0000004d;
}

body::-webkit-scrollbar-thumb {
    background-color: #47515a;
    outline: 1px solid slategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form label {
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
    color: #333333cc !important;
    font-family: 'Oxygen', sans-serif !important;
}

.ant-form-item-label {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 25px !important;
}

.ant-avatar-image {
    width: 40px;
    height: 40px;
}

.ant-card-cover img {
    height: 250px !important;
    object-fit: cover !important;
}

aside.ant-layout-sider {
    background-color: #47515a !important;
    max-width: 400px !important;
    min-width: 150px !important;
}

.d-block {
    margin: 0 auto !important;
    height: 100% !important;
}

.d-block:hover { cursor: pointer }
.ant-modal-content { border-radius: 0 !important; }
.ant-modal-header { background-color: #2171bd !important; border-radius: 0 !important; }
.ant-modal-close, .ant-modal-title { color: #eee !important }
.ant-layout-sider-trigger { display: none !important }
.ant-layout { background-color: #fff !important }
.ant-modal-close { display: none !important }
